* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #252440;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: url('iconos/electric_guitar_n_rev.png'), auto;
}

body:active {
  cursor: url('iconos/electric_guitar_bw_rev.png'), auto;
}

main {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  align-items: center;
  gap: 100vh;
  color: white;
}

a {
  cursor: url('iconos/electric_guitar_n_rev.png'), auto !important;
}

a:hover {
  cursor: url('iconos/electric_guitar_s_rev.png'), auto !important;
}

a:active {
  cursor: url('iconos/electric_guitar_bw_rev.png'), auto !important;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur;
  height: 100px;
  z-index: 110;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  right: 0; /* Alinea la barra de desplazamiento en el lado derecho */
  z-index: 9999;
}

/* Estilos para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  width: 0px;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo del riel */
}

/* Estilos para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #fff5; /* Color del pulgar */
  border-radius: 6px; /* Radio de borde del pulgar */
  border: 3px solid transparent; /* Borde del pulgar */
  transition: background-color 0.3s ease-in-out; /* Transición de 0.3 segundos */
}

/* Estilos cuando se pasa el mouse sobre la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  cursor: url('iconos/electric_guitar_s_rev.png'), auto;
  background-color: yellow; /* Color del pulgar al pasar el mouse */
}

/* Estilos para el pulgar de la barra de desplazamiento cuando se desplaza */
::-webkit-scrollbar-thumb:active {
  cursor: url('iconos/electric_guitar_bw_rev.png'), auto;
  background-color: yellow; /* Color del pulgar al hacer clic */
}

.curriculum {
  text-decoration: none;
  border: rgba(255, 255, 255, 0.5) 2px solid;
  padding: 8px 16px;
  border-radius: 99px;
  transition: 300ms;
  color: white;
}

.curriculum:active {
  background: white;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

.curriculum:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.content-presentacion div h1 span {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 20ch;

  animation: tipeo 2s steps(20), parpadeo .5s infinite step-end alternate;
  overflow: hidden;
}

.content-presentacion div aside a {
  opacity: 0;
  animation: entradaLinksPresentacion 0.8s ease-in-out forwards;
}

@keyframes desplazoAbajo {
  from {
    opacity: 0;
    transform: translateY(-20px);  
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes entradaLinksPresentacion {
  from {
      opacity: 0;
      
  }
  to {
      opacity: 1;
  }
}

@keyframes tipeo {
  from { width: 0; }
}

@keyframes parpadeo {
  50% {border-color: transparent;}
}

.content-presentacion div aside a:nth-child(1) { animation-delay: 0s; }
.content-presentacion div aside a:nth-child(2) { animation-delay: 0.3s; }
.content-presentacion div aside a:nth-child(3) { animation-delay: 0.6s; }
.content-presentacion div aside a:nth-child(4) { animation-delay: 0.9s; }
.content-presentacion div aside a:nth-child(5) { animation-delay: 1.2s; }
.content-presentacion div aside a:nth-child(6) { animation-delay: 1.5s; }
.content-presentacion div aside a:nth-child(7) { animation-delay: 1.8s; }
.content-presentacion div aside a:nth-child(8) { animation-delay: 2.1s; }
.content-presentacion div aside a:nth-child(9) { animation-delay: 2.4s; }

.linea_vertical_central {
  margin-top: 240px;
  position: absolute;
  width: 5px;
  height: 80%;
  background: #fff5;
}

.marcador_separador_experiencia {
  right: 50%;
  position: absolute;
}

.marcador_separador_experiencia > div {
  width: 20px !important;
  height: 20px;
  top: 5px;
  left: 10px;
  position: relative;
  background: yellow;
  border-radius: 50%;
}

.separador-seccion {
  padding-top: 15vh;
}

.content-presentacion {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 35vh;
}

.content-sobre-mi {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 25vh;
  padding-top: 25vh;
}

.emoji_p {
  width: 15px;
  height: 15px;
  padding-top: px;
}

.content-presentacion aside img {
  border: 2px solid white;
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px gray);
  line-height: 2;
  margin-right: 10vh;
  animation: desplazoAbajo 1s ease-in;
}

.content-presentacion p strong {
  color: yellow;
}

.content-presentacion p {
  width: 40vw;
}

.content-presentacion div aside {
  width: 90%;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.75vh;
  gap: 1vh;
  transition: 0.5s;
  display: flex;
}

.content-presentacion aside a {
  text-decoration: none;
  overflow: hidden;
  box-shadow: 2px 2px 3px black;
  font-size: 35px;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
}

.content-presentacion div h1 {
  margin-bottom: 20px;
}

.content-presentacion h1 {
  font-size: 30px;
}

.content-sobre-mi aside img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  line-height: 2;
}

.content-sobre-mi aside {
  border: 2px solid white;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  filter: drop-shadow(3px 3px 3px black);
  line-height: 2;
  margin-left: 10vh;
}

.content-sobre-mi p strong {
  color: yellow;
}

.content-sobre-mi p {
  width: 40vw;
}

.content-sobre-mi div aside {
  width: 0px;
  position: relative;
  flex-direction: row;
  margin-top: 1.75vh;
  gap: 1vh;
  transition: 0.5s;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-columns: auto;
}

.content-sobre-mi aside a {
  text-decoration: none;
  overflow: hidden;
  box-shadow: 2px 2px 3px black;
  font-size: 30px;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
}

.content-sobre-mi div h1 {
  margin-bottom: 35px;
}

.content-sobre-mi div {
  margin-left: 2vh;
}

.content-sobre-mi h1 {
  font-size: 35px;
}

.logo {
  color: white;
}

.logo a {
  -webkit-tap-highlight-color: transparent;
}

.logo a img {
  color: white;
  text-decoration: none;
  text-decoration: none;
  padding: 4px 8px;
  transition: 300ms;
  width: 55px;
  display: flex;
  border-radius: 50%;
}

.logo a img:active {
  background: gray;
  color: black;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}

.menu_lateral a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 16px;
  transition: 300ms;
  border-radius: 99px;
}

.menu_lateral {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu_lateral a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.user-form-group a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.user-form-group {
  -webkit-tap-highlight-color: transparent;
}

.contactame {
  border: rgba(255, 255, 255, 0.5) 2px solid;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 99px;
  transition: 300ms;
}

.contactame:active {
  background: white;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

.contactame:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.menu_lateral a {
  -webkit-tap-highlight-color: transparent;
}

.menu_lateral .logo {
  display: none;
}

#check_menu_lateral {
  display: none;
}

.user-form-group label {
  display: none;
}

main {
  padding: 10%;
}

.content-proyectos {
  margin-top: 150px;
}

.content-proyectos h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  padding-top: 175px;
}

.content-proyectos-cards {
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 700px;
  display: flex;
  gap: 15px;
  z-index: -100;
}

.card {
  width: 20vw;
  height: 500px;
  border-radius: 15px;
  border-width: 0px;
  overflow: hidden;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
  transition: 500ms;
}

.card:hover {
  width: 80vw;
}

.card .proyecto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 500ms;
}

.card:hover .proyecto {
  transform: scale(1.1);
}

.card .background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
  filter: brightness(0.25);
  opacity: 0;
  transition: 300ms;
}

.card:hover .background {
  opacity: 1;
}

.card .layer {
  width: 35vw;
  height: 65vh;
  padding-inline: 1vw;
  margin-top: -65vh;
  position: relative;
  color: white;
  transition: 300ms;
  align-self: flex-end;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.card .layer .info {
  width: 32vw;
  position: absolute;
  opacity: 0;
  bottom: 5vh;
  transition: 500ms;
  margin-bottom: 0px;
}

@media (max-width: 1490px) {
  .card .layer .info {
    width: 31vw;
  }
}

@media (max-width: 1200px) {
  .card .layer .info {
    width: 30vw;
  }
}

@media (max-width: 800px) {
  .card .layer .info {
    width: 29vw;
  }
}

.card:hover .layer {
  width: 100%;
}

.card:hover .layer .info {
  opacity: 1;
}

.info h1 {
  font-size: 35px;
}

.info p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 1vh;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.info p.ellipsis::after {
  content: "...";
  position: absolute;
  right: -0px;
  bottom: 0px;
}

.card aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: 1.5vh;
  margin-left: 1.5vh;
  gap: 1vh;
  opacity: 0;
  transition: 0.5s;
}

.card:hover aside {
  opacity: 1;
}

.card aside a {
  text-decoration: none;
  overflow: hidden;
  box-shadow: 2px 2px 3px black;
  font-size: 35px;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link_circular_azul {
  background: #0866ff;
}

.link_circular_rojo {
  background: #e20019;
}

.link_circular_celeste {
  background: #00acee;
}

.link_circular_verde {
  background: #00c3a5;
}

.link_circular_negro {
  background: #0d1117;
}

.link_circular_gmail {
  background: white;
  color: #c71610 !important;
}

.link_circular_linkedin {
  background: #0077b5;
}

.link_circular_color_fondo {
  background: #252440;
}

.link_circular_play_store {
  background: linear-gradient(#2196f5, #2196f5) top left,
    linear-gradient(#4cb050, #4cb050) top right,
    linear-gradient(#f34334, #f34334) bottom left,
    linear-gradient(#fec107, #fec107) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.link_circular_instagram {
  background: linear-gradient(
    135deg,
    #833ab4,
    #c13584,
    #fd1d1d,
    #f56040,
    #fcaf45
  );
}

.link_circular_appstore {
  background: #2196f3;
}

.fondo_difuminado {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  padding: 15px;
  align-items: end;
}

.texto-blanco {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.texto-alineado-izquierda {
  align-self: end;
  justify-self: end;
  align-items: end;
}

.content-experiencia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 400px;
  position: relative;
}

.content-experiencia ul {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

.content-experiencia ul li {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 10vw;
}

.content-experiencia ul li img {
  align-self: center;
  justify-content: center;
  width: 90px;
}

.content-experiencia ul li div {
  width: 50%;
}

.content-experiencia ul li div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: flex-end;
  font-size: 20px;
  color: yellow;
  font-weight: 800;
  text-align: end;
}

.content-experiencia ul li span {
  align-items: flex-end !important;
  justify-content: flex-end !important;
  align-self: flex-end;
  align-content: flex-end;
}

.content-experiencia h1 {
  margin-top: 120px;
  font-size: 35px;
  font-weight: 800;
}

.content-eventos {
  margin-top: 150px;
}

.content-eventos h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  padding-top: 190px;
}

.content-eventos section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin-top: 100px;
}

.evento_diploma_animado {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.evento_diploma_animado article {
  margin: 0;
  padding: 0;
}

.evento_diploma_animado img:last-child {
  position: relative;
  transition: all 0.3s ease;
  z-index: 1;
  margin: 0;
  padding: 0;
  height: auto;
  vertical-align: top;
}
.evento_diploma_animado img:last-child {
  box-shadow: 0 110px 110px -100px rgba(0, 30, 255, 0.5);
  border-radius: 30px;
  object-fit: cover;
}
.evento_diploma_animado a:first-child {
  position: absolute;
  z-index: 2;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 2px 2px 3px black;
  font-size: 50px;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(0%);
  transition: 0.3s ease;
  opacity: 0;
  -webkit-tap-highlight-color: transparent;
}

.evento_diploma_animado img:last-child::before {
  content: "";
  position: relative;
  bottom: 0;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 10%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0) 95%
  );
  opacity: 0;
  transition: all 0.3s ease;
}

.evento_diploma_animado img:last-child:hover {
  transform: perspective(250px) rotateX(10deg) translateY(5%) translateZ(0);
}

.evento_diploma_animado:hover img:last-child::before {
  opacity: 1;
}

.evento_diploma_animado:hover a:first-child {
  opacity: 1;
  transform: translateY(-100%);
}

.content-preparacion {
  margin-top: 150px;
  justify-content: center;
  align-items: center;
}

.content-preparacion h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  padding-top: 140px;
  margin-bottom: 50px;
}

.content-preparacion h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: yellow;
}

.content-preparacion h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 25px;
}

.content-preparacion h3 img {
  height: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 15px;
}

.content-preparacion section {
  display: flex;
  align-items: center;
  justify-items: center;
  align-self: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px;
  justify-content: center;
}

.content-preparacion section div {
  flex-wrap: wrap;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  opacity: 0.8;
  transition: transform 0.4s ease;
  flex-grow: 1;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.content-preparacion section div img {
  z-index: -1;
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}

.content-preparacion section div a {
  position: absolute;
  z-index: 2;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 2px 2px 3px black;
  font-size: 100%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  transition: 0.3s ease;
  align-self: center;
  opacity: 0;
  margin-top: 7px;
  margin-left: 7px;
  background-color: #252440;
  -webkit-tap-highlight-color: transparent;
}

.content-preparacion section div span {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  font-size: 85%;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  font-size: 12px;
  justify-content: center;
  background-color: #252440;
  color: white;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.content-preparacion section div:hover span {
  opacity: 0.8;
}

.content-preparacion section div:hover a {
  opacity: 1;
}

.content-preparacion section div:hover {
  z-index: 1;
  opacity: 1;
  border-radius: 7px;
  filter: contrast(120%);
  transform: scale(1.65);
  border: 2px solid #252440;
}

footer {
  position: relative;
  overflow: hidden;
  font-size: 85%;
  font-style: oblique;
  padding : 300px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 15px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

@media (max-width: 820px) {
  header {
    height: 80px;
  }

  .content-preparacion section div a {
    width: 35px;
    height: 35px;
    font-size: 100%;
  }

  .content-preparacion section div {
    max-width: 100%;
    max-height: 100%;
  }

  .content-preparacion section div:hover {
    transform: scale(1.15);
  }

  .evento_diploma_animado img {
    width: 100%;
  }

  .content-eventos h1 {
    padding-top: 120px;
  }

  .content-eventos section {
    margin-top: 60px;
  }

  .content-experiencia {
    margin-top: 175px;
  }

  .linea_vertical_central {
    height: 85%;
  }

  .content-proyectos h1 {
    padding-top: 120px;
  }

  .content-preparacion h1 {
    padding-top: 120px;
  }

  .content-proyectos-cards {
    margin-top: 6vh;
    width: 100%;
    height: 50%;
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: 50vh;
  }

  .card:hover {
    width: 100%;
    height: 50vh;
  }

  .card .background {
    position: fixed;
  }

  .card .layer {
    width: 100%;
    padding-inline: 3vw;
  }

  .card .layer .info {
    opacity: 1;
    width: 72vw;
  }

  .info p {
    -webkit-line-clamp: 5;
    line-clamp: 5;
  }

  .menu_lateral {
    position: absolute;
    left: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: #252440;
    height: 100vh;
    width: 50%;
    padding: 0 20px;
    z-index: 50;
    gap: 16px;
    transition: 500ms;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
    align-items: start;
  }

  .menu_lateral a {
    width: 83%;
  }

  .content-experiencia ul li img {
    width: 100px;
  }

  .menu_lateral .logo {
    margin-left: 16px;
    margin-top: 20px;
    display: block;
  }

  .divider {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 2px;
    margin: 10px 0px;
  }

  .user-form-group {
    display: flex;
    align-items: center;
  }

  .contactame {
    margin-right: 16px;
  }

  .menu {
    font-size: 45px;
    color: white;
    transition: 300ms;
  }

  #check_menu_lateral:checked ~ .user-form-group .menu {
    display: none;
  }

  .close-menu {
    font-size: 45px;
    color: white;
    transition: 300ms;
  }

  #check_menu_lateral:checked ~ .user-form-group .menu {
    display: none;
  }

  .user-form-group .close-menu {
    display: none;
  }

  #check_menu_lateral:checked ~ .user-form-group .close-menu {
    display: block;
  }

  #check_menu_lateral:checked ~ .menu_lateral {
    left: 0%;
  }

  .user-form-group label {
    display: block;
  }

  .card aside {
    opacity: 1;
  }

  .card aside {
    flex-direction: row;
  }

  .content-presentacion {
    flex-direction: column;
    width: 100%;
    padding-top: 15vh;
    gap: 5vh;
  }

  .content-presentacion div p {
    width: 100%;
  }

  .content-presentacion aside img {
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    justify-content: center;
  }

  .content-sobre-mi {
    margin-top: 15.5vh;
    flex-direction: column;
    width: 100%;
    gap: 5vh;
    padding-top: 15vh;
  }

  .content-sobre-mi div p {
    width: 100%;
  }

  .content-sobre-mi aside img {
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    justify-content: center;
  }

  .content-sobre-mi aside {
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    justify-content: center;
  }

  .separador-seccion-inicio {
    padding-top: 0vh;
  }
}
